*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(135deg ,#164bbc,#25012e);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
h1{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 15px;
}
.todo-heading{
    display: flex;
    align-items: center;
}
.todo-heading i{
    font-size: 18px;
    color: black;
}
.to-do-box{
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 25px 15px;
    margin-top: 90px;
}
.input-box{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;

}
#input{
    padding: 12px ;
    border: none;
    background: #ccc;
    outline: none;
    border-radius:20px ;
    width: 100%;
    width: 300px;
}
.btn{
    border-radius: 20px;
    padding: 8px 33px;
    border: none;
    outline: none;
    box-shadow: inset 4px 4px 6px 2px rgba(0, 0, 0, 0.3),
    inset 4px 4px 6px  rgba(0, 0, 0, 0.3),
    inset -2px -2px 4px 1px rgba(255, 255, 255, 0.3),
    inset -2px -2px 4px 1px rgba(255, 255, 255, 0.3);
    background: orangered;
    color: white;
    cursor: pointer;
}
li{
    /* text-decoration:line-through; */
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 12px 0px 12px 30px;
    /* width: 100%; */
    display: flex;
    align-items: center;
}
li::after{
     content: '';
     position: absolute;
     width: 15px;
     left: 0;
     height: 15px;
     top: 15px;
     background: transparent;
     border: 1px solid #424242;
     border-radius: 50%;
}
ul li .circle{
    background: white;
}
ul li.check{
    text-decoration: line-through;
}
ul li.circle::after{
    content: '';
    position: absolute;
    width: 15px;
    left: 0;
    height: 15px;
    top: 15px;
    background: blue;
    border: 1px solid #424242;
    border-radius: 50%;
}
ul li.circle::before{
    content: '';
    position: absolute;
    width: 8px;
    left: 3px;
    height: 3px;
    z-index: 2;
    rotate: 315deg;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    top: 19px;
}
span{
    position: absolute;
    right: 0;
    cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
    width: 30px;
    height: 30px;
    color: black;
    font-size: 25px;
    font-weight: 700;
    background: transparent;
    transition: .1s;
}
span:hover{
    background: #ccc;
    border-radius: 50%;
}

@media screen and (max-width:524px) {
    #input{
        width: 200px;
    }
}

@media screen and (max-width:400px) {
    #input{
        width: 100px;
        background-color: transparent;
    }
    .btn{
        padding: 5px 34px;
        font-size: 12px;
    }
    .input-box{
        width: 100%;
        background: #ccc;
        border-radius: 20px;
    }
    h1{
        font-size: 18px;
    }
    .todo-heading i {
        font-size: 16px;
    }
}